*{
    margin: 0;
    padding: 0;
}
/* 
body{
    background-color: #f8f9f2;
    overflow-x: hidden;
    max-width: fit-content;

} */
 .Contact{
    margin-bottom: 200PX;
}
.text-center{
    margin-top: 100px;
}

.first_col{
    background-color: white;
    height: 390px;
    position: relative;
    width: 550px;
    left: 155px;
    top: 100px;
    border-radius: 20px;
}
.img-fluid{
    border-radius: 20px;
    position: relative;
    left: 30px;
    
}

.btn-primary{
    background-color: #c1b688;
    border: #c1b688;
    padding: 15px;
    margin-top: 10px;
    
}
.btn-primary:hover{
    background-color: black;
}
.form-control{
    height: 52px;
    background-color: #fff;
    font-size: 14px;
    border-radius: 2px;
    box-shadow: none;
    border: 1px solid grey;

}
.form-control[type=text]:focus{
    border:2px solid grey
}
@media only screen and (max-width:600px) {
    .first_col{
        position: initial;
        left: 0;
    }
   
}
